-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: tgsrtc_new
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `action_plan`
--

DROP TABLE IF EXISTS `action_plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `action_plan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `depot_name` varchar(100) NOT NULL,
  `data_date` date NOT NULL,
  `Weekly_Off_National_Off` varchar(5000) DEFAULT NULL,
  `Special_Off_Night_Out_IC_Online` varchar(5000) DEFAULT NULL,
  `Other_s` varchar(5000) DEFAULT NULL,
  `Leave_Absent` varchar(5000) DEFAULT NULL,
  `Sick_Leave` varchar(5000) DEFAULT NULL,
  `Spot_Absent` varchar(5000) DEFAULT NULL,
  `Double_Duty` varchar(5000) DEFAULT NULL,
  `Off_Cancellation` varchar(5000) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_depot_date` (`depot_name`,`data_date`)
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bus_details`
--

DROP TABLE IF EXISTS `bus_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bus_details` (
  `depot` varchar(50) DEFAULT NULL,
  `operations_date` date DEFAULT NULL,
  `bus_number` varchar(15) DEFAULT NULL,
  `bus_type` varchar(100) DEFAULT NULL,
  `comm_date` text,
  `engine_make` varchar(15) DEFAULT NULL,
  `eng_kms` int DEFAULT NULL,
  `progress_km` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `calender`
--

DROP TABLE IF EXISTS `calender`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calender` (
  `DAY_OF_WEEK` int DEFAULT NULL,
  `MONTH_OF_THE_YEAR` int DEFAULT NULL,
  `FESTIVAL_DAY` int DEFAULT NULL,
  `FESTIVAL_EFFECT` int DEFAULT NULL,
  `TYPE_OF_DAY_CODE` int DEFAULT NULL,
  `DATE` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `daily_operations`
--

DROP TABLE IF EXISTS `daily_operations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_operations` (
  `depot` varchar(50) DEFAULT NULL,
  `operations_date` date DEFAULT NULL,
  `employee_id` int DEFAULT NULL,
  `vehicle_number` varchar(15) DEFAULT NULL,
  `service_type` varchar(10) DEFAULT NULL,
  `service_number` varchar(10) DEFAULT NULL,
  `opd_kms` int DEFAULT NULL,
  `daily_earnings` int DEFAULT NULL,
  `day_night` varchar(5) DEFAULT NULL,
  `schedules_count` varchar(100) DEFAULT NULL,
  `long_type` varchar(20) DEFAULT NULL,
  `route_name` varchar(100) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `depot_master`
--

DROP TABLE IF EXISTS `depot_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `depot_master` (
  `depot_id` int NOT NULL,
  `depot_name` varchar(100) NOT NULL,
  `region` varchar(100) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`depot_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `driver_absenteeism`
--

DROP TABLE IF EXISTS `driver_absenteeism`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driver_absenteeism` (
  `employee_id` int DEFAULT NULL,
  `depot` varchar(100) DEFAULT NULL,
  `leave_type` varchar(50) DEFAULT NULL,
  `date` date DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `driver_details`
--

DROP TABLE IF EXISTS `driver_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driver_details` (
  `employee_id` varchar(50) NOT NULL,
  `full_name` varchar(50) DEFAULT NULL,
  `unit` varchar(50) DEFAULT NULL,
  `age` int DEFAULT NULL,
  `birth_date` date DEFAULT NULL,
  `joining_date` date DEFAULT NULL,
  `gender` varchar(10) DEFAULT NULL,
  `marital_status` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`employee_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `driver_leaves`
--

DROP TABLE IF EXISTS `driver_leaves`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driver_leaves` (
  `employee_id` int DEFAULT NULL,
  `depot` varchar(50) DEFAULT NULL,
  `leave_type` varchar(5) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `only_absent` int DEFAULT NULL,
  `absent_and_leave` int DEFAULT NULL,
  `absent_all` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `driver_operations`
--

DROP TABLE IF EXISTS `driver_operations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `driver_operations` (
  `depot` varchar(50) DEFAULT NULL,
  `operations_date` date DEFAULT NULL,
  `employee_id` int DEFAULT NULL,
  `vehicle_number` varchar(15) DEFAULT NULL,
  `service_type` varchar(10) DEFAULT NULL,
  `service_number` varchar(10) DEFAULT NULL,
  `opd_kms` int DEFAULT NULL,
  `daily_earnings` int DEFAULT NULL,
  `day_night` varchar(5) DEFAULT NULL,
  `schedules_count` varchar(100) DEFAULT NULL,
  `long_type` varchar(20) DEFAULT NULL,
  `route_name` varchar(100) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `drivers_data`
--

DROP TABLE IF EXISTS `drivers_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `drivers_data` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` varchar(20) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `unit` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `age` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ghc_2`
--

DROP TABLE IF EXISTS `ghc_2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ghc_2` (
  `employee_ID` int DEFAULT NULL,
  `age` int DEFAULT NULL,
  `depot` varchar(20) DEFAULT NULL,
  `designation` varchar(15) DEFAULT NULL,
  `height` int DEFAULT NULL,
  `weight` int DEFAULT NULL,
  `BMI` int DEFAULT NULL,
  `BMI_interpret` varchar(15) DEFAULT NULL,
  `blood_group` varchar(15) DEFAULT NULL,
  `blood_pressure_systolic` int DEFAULT NULL,
  `blood_pressure_diastolic` int DEFAULT NULL,
  `blood_pressure_interpret` varchar(30) DEFAULT NULL,
  `creatinine_value` float DEFAULT NULL,
  `creatinine_interpret` varchar(30) DEFAULT NULL,
  `hemoglobin_value` float DEFAULT NULL,
  `hemoglobin_interpret` varchar(30) DEFAULT NULL,
  `glucose_random_value` float DEFAULT NULL,
  `glucose_interpret` varchar(30) DEFAULT NULL,
  `bilirubin_value` float DEFAULT NULL,
  `bilirubin_interpret` varchar(30) DEFAULT NULL,
  `total_cholestrol` int DEFAULT NULL,
  `cholesterol_interpret` varchar(30) DEFAULT NULL,
  `triglycerides` float DEFAULT NULL,
  `triglycerides_interpret` varchar(30) DEFAULT NULL,
  `ECG_comment` varchar(100) DEFAULT NULL,
  `ECG_interpret` varchar(100) DEFAULT NULL,
  `D_Left_Eye` int DEFAULT NULL,
  `D_Right_Eye` int DEFAULT NULL,
  `N_Right_Eye` int DEFAULT NULL,
  `N_Left_Eye` int DEFAULT NULL,
  `glaucoma` varchar(10) DEFAULT NULL,
  `blurring_Vision` varchar(10) DEFAULT NULL,
  `smoke` varchar(10) DEFAULT NULL,
  `tobacco` varchar(10) DEFAULT NULL,
  `alcohol` varchar(10) DEFAULT NULL,
  `tingling_hands_feet` varchar(10) DEFAULT NULL,
  `lower_back_ache` varchar(10) DEFAULT NULL,
  `arthritis` varchar(10) DEFAULT NULL,
  `asthama` varchar(10) DEFAULT NULL,
  `Lungs_Asculation` varchar(10) DEFAULT NULL,
  `COPD` varchar(10) DEFAULT NULL,
  `PERF` int DEFAULT NULL,
  `cancer` varchar(10) DEFAULT NULL,
  `perceived_health` varchar(20) DEFAULT NULL,
  `final_Grading` varchar(2) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ghc_2023`
--

DROP TABLE IF EXISTS `ghc_2023`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ghc_2023` (
  `employee_ID` int DEFAULT NULL,
  `age` int DEFAULT NULL,
  `depot` varchar(20) DEFAULT NULL,
  `designation` varchar(15) DEFAULT NULL,
  `height` int DEFAULT NULL,
  `weight` int DEFAULT NULL,
  `BMI` int DEFAULT NULL,
  `BMI_interpret` varchar(15) DEFAULT NULL,
  `blood_group` varchar(15) DEFAULT NULL,
  `blood_pressure_systolic` int DEFAULT NULL,
  `blood_pressure_diastolic` int DEFAULT NULL,
  `blood_pressure_interpret` varchar(30) DEFAULT NULL,
  `creatinine_value` float DEFAULT NULL,
  `creatinine_interpret` varchar(30) DEFAULT NULL,
  `hemoglobin_value` float DEFAULT NULL,
  `hemoglobin_interpret` varchar(30) DEFAULT NULL,
  `glucose_random_value` float DEFAULT NULL,
  `glucose_interpret` varchar(30) DEFAULT NULL,
  `bilirubin_value` float DEFAULT NULL,
  `bilirubin_interpret` varchar(30) DEFAULT NULL,
  `total_cholestrol` int DEFAULT NULL,
  `cholesterol_interpret` varchar(30) DEFAULT NULL,
  `triglycerides` float DEFAULT NULL,
  `triglycerides_interpret` varchar(30) DEFAULT NULL,
  `ECG_comment` varchar(50) DEFAULT NULL,
  `ECG_interpret` varchar(30) DEFAULT NULL,
  `D_Left_Eye` int DEFAULT NULL,
  `D_Right_Eye` varchar(10) DEFAULT NULL,
  `N_Right_Eye` int DEFAULT NULL,
  `N_Left_Eye` int DEFAULT NULL,
  `glaucoma` varchar(10) DEFAULT NULL,
  `blurring_Vision` varchar(10) DEFAULT NULL,
  `smoke` varchar(10) DEFAULT NULL,
  `tobacco` varchar(10) DEFAULT NULL,
  `alcohol` varchar(20) DEFAULT NULL,
  `tingling_hands_feet` varchar(10) DEFAULT NULL,
  `lower_back_ache` varchar(10) DEFAULT NULL,
  `arthritis` varchar(10) DEFAULT NULL,
  `asthama` varchar(10) DEFAULT NULL,
  `Lungs_Asculation` varchar(10) DEFAULT NULL,
  `COPD` varchar(10) DEFAULT NULL,
  `PERF` int DEFAULT NULL,
  `cancer` varchar(10) DEFAULT NULL,
  `perceived_health` varchar(20) DEFAULT NULL,
  `final_Grading` varchar(2) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ghc_2024`
--

DROP TABLE IF EXISTS `ghc_2024`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ghc_2024` (
  `employee_ID` int DEFAULT NULL,
  `age` int DEFAULT NULL,
  `depot` varchar(20) DEFAULT NULL,
  `designation` varchar(15) DEFAULT NULL,
  `height` int DEFAULT NULL,
  `weight` int DEFAULT NULL,
  `BMI` int DEFAULT NULL,
  `BMI_interpret` varchar(15) DEFAULT NULL,
  `blood_group` varchar(15) DEFAULT NULL,
  `blood_pressure_systolic` int DEFAULT NULL,
  `blood_pressure_diastolic` int DEFAULT NULL,
  `blood_pressure_interpret` varchar(30) DEFAULT NULL,
  `creatinine_value` float DEFAULT NULL,
  `creatinine_interpret` varchar(30) DEFAULT NULL,
  `hemoglobin_value` float DEFAULT NULL,
  `hemoglobin_interpret` varchar(30) DEFAULT NULL,
  `glucose_random_value` float DEFAULT NULL,
  `glucose_interpret` varchar(30) DEFAULT NULL,
  `bilirubin_value` float DEFAULT NULL,
  `bilirubin_interpret` varchar(30) DEFAULT NULL,
  `total_cholestrol` int DEFAULT NULL,
  `cholesterol_interpret` varchar(30) DEFAULT NULL,
  `triglycerides` float DEFAULT NULL,
  `triglycerides_interpret` varchar(30) DEFAULT NULL,
  `ECG_comment` varchar(100) DEFAULT NULL,
  `ECG_interpret` varchar(100) DEFAULT NULL,
  `D_Left_Eye` int DEFAULT NULL,
  `D_Right_Eye` int DEFAULT NULL,
  `N_Right_Eye` int DEFAULT NULL,
  `N_Left_Eye` int DEFAULT NULL,
  `glaucoma` varchar(10) DEFAULT NULL,
  `blurring_Vision` varchar(10) DEFAULT NULL,
  `smoke` varchar(10) DEFAULT NULL,
  `tobacco` varchar(10) DEFAULT NULL,
  `alcohol` varchar(10) DEFAULT NULL,
  `tingling_hands_feet` varchar(10) DEFAULT NULL,
  `lower_back_ache` varchar(10) DEFAULT NULL,
  `arthritis` varchar(10) DEFAULT NULL,
  `asthama` varchar(10) DEFAULT NULL,
  `Lungs_Asculation` varchar(10) DEFAULT NULL,
  `COPD` varchar(10) DEFAULT NULL,
  `PERF` int DEFAULT NULL,
  `cancer` varchar(10) DEFAULT NULL,
  `perceived_health` varchar(20) DEFAULT NULL,
  `final_Grading` varchar(20) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `input_data`
--

DROP TABLE IF EXISTS `input_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `input_data` (
  `depot_name` varchar(255) NOT NULL,
  `data_date` date NOT NULL,
  `Schedules` int DEFAULT '0',
  `Schedules_Services` int DEFAULT '0',
  `Schedules_Kms` int DEFAULT NULL,
  `Planned_Schedules` int DEFAULT '0',
  `Planned_Services` int DEFAULT '0',
  `Planned_KM` int DEFAULT '0',
  `Actual_Services` int DEFAULT '0',
  `Actual_KM` int DEFAULT '0',
  `Service_Variance` int DEFAULT '0',
  `KM_Variance` int DEFAULT '0',
  `Total_Drivers` int DEFAULT '0',
  `Medically_Unfit` int DEFAULT '0',
  `Suspended_Drivers` int DEFAULT '0',
  `Available_Drivers_1` int DEFAULT '0',
  `Pct_Available_Drivers_1` float DEFAULT '0',
  `Weekly_Off_National_Off` int DEFAULT '0',
  `Pct_Weekly_Off_National_Off` float DEFAULT '0',
  `Special_Off_Night_Out_IC_Online` int DEFAULT '0',
  `Pct_Special_Off_Night_Out_IC_Online` float DEFAULT '0',
  `Training_PME_medical` int DEFAULT '0',
  `Others` int DEFAULT '0',
  `Pct_Others` float DEFAULT '0',
  `Leave_Absent` int DEFAULT '0',
  `Pct_Leave_Absent` float DEFAULT '0',
  `Sick_Leave` int DEFAULT '0',
  `Pct_Sick_Leave` float DEFAULT '0',
  `Available_Drivers_2` int DEFAULT '0',
  `Pct_Available_Drivers_2` float DEFAULT '0',
  `Spot_Absent` int DEFAULT '0',
  `Pct_Spot_Absent` float DEFAULT '0',
  `Attending_Drivers` int DEFAULT '0',
  `Pct_Attending_Drivers` float DEFAULT '0',
  `Drivers_Required` int DEFAULT '0',
  `Driver_Schedule` float DEFAULT '0',
  `Driver_Shortage` int DEFAULT '0',
  `Double_Duty` int DEFAULT '0',
  `Pct_Double_Duty` float DEFAULT '0',
  `Off_Cancellation` int DEFAULT '0',
  `Pct_Off_Cancellation` float DEFAULT '0',
  `Drivers_as_Conductors` int DEFAULT '0',
  `Drivers_on_Duty` int DEFAULT '0',
  `Driver_for_Bus_Services` int DEFAULT '0',
  `KM_per_Driver` float DEFAULT '0',
  `Service_per_Driver_Check` int DEFAULT '0',
  `Spondilitis` int DEFAULT '0',
  `Spinal_Disc` int DEFAULT '0',
  `Vision_Color_Blindness` int DEFAULT '0',
  `Neuro_Paralysis_Medical` int DEFAULT '0',
  `Ortho` int DEFAULT '0',
  `Total_Drivers_MU_Reasons` int DEFAULT '0',
  `Diff_MU_Reasons` int DEFAULT '0',
  `Flu_Fever` int DEFAULT '0',
  `BP` int DEFAULT '0',
  `Orthopedic` int DEFAULT '0',
  `Heart` int DEFAULT '0',
  `Weakness` int DEFAULT '0',
  `Eye` int DEFAULT '0',
  `Accident_Injuries` int DEFAULT '0',
  `Neuro_Paralysis_Sick_Leave` int DEFAULT '0',
  `Piles` int DEFAULT '0',
  `Diabetes` int DEFAULT '0',
  `Thyroid` int DEFAULT '0',
  `Gas` int DEFAULT '0',
  `Dental` int DEFAULT '0',
  `Ear` int DEFAULT '0',
  `Skin_Allergy` int DEFAULT '0',
  `General_Surgery` int DEFAULT '0',
  `Obesity` int DEFAULT '0',
  `Cancer` int DEFAULT '0',
  `Total_Drivers_SL_Reasons` int DEFAULT '0',
  `Diff_SL_Reasons` int DEFAULT '0',
  PRIMARY KEY (`depot_name`,`data_date`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ops_daily`
--

DROP TABLE IF EXISTS `ops_daily`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ops_daily` (
  `ops_date` date NOT NULL,
  `depot_id` int NOT NULL,
  `schedules` int DEFAULT NULL,
  `schedules_services` int DEFAULT NULL,
  `schedules_kms` decimal(10,2) DEFAULT NULL,
  `planned_schedules` int DEFAULT NULL,
  `planned_services` int DEFAULT NULL,
  `planned_km` decimal(10,2) DEFAULT NULL,
  `actual_services` int DEFAULT NULL,
  `actual_km` decimal(10,2) DEFAULT NULL,
  `service_variance` int DEFAULT NULL,
  `km_variance` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`ops_date`,`depot_id`),
  KEY `fk_ops_depot` (`depot_id`),
  KEY `idx_ops_daily_date` (`ops_date`),
  CONSTRAINT `fk_ops_depot` FOREIGN KEY (`depot_id`) REFERENCES `depot_master` (`depot_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ops_daily_service`
--

DROP TABLE IF EXISTS `ops_daily_service`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ops_daily_service` (
  `ops_date` date NOT NULL,
  `depot_id` int NOT NULL,
  `service_number` varchar(50) NOT NULL,
  `trips` int DEFAULT NULL,
  `km` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`ops_date`,`depot_id`,`service_number`),
  KEY `fk_ops_service_depot` (`depot_id`),
  KEY `idx_ops_service_date` (`ops_date`),
  CONSTRAINT `fk_ops_service_depot` FOREIGN KEY (`depot_id`) REFERENCES `depot_master` (`depot_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `predicted_absenteeism`
--

DROP TABLE IF EXISTS `predicted_absenteeism`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `predicted_absenteeism` (
  `id` int NOT NULL AUTO_INCREMENT,
  `depot_name` varchar(255) DEFAULT NULL,
  `data_date` date DEFAULT NULL,
  `leave_absent` float DEFAULT NULL,
  `sick_leave` float DEFAULT NULL,
  `spot_absent` float DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `service_master`
--

DROP TABLE IF EXISTS `service_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `service_master` (
  `depot` varchar(100) DEFAULT NULL,
  `service_number` varchar(10) DEFAULT NULL,
  `route_name` varchar(20) DEFAULT NULL,
  `service_type` varchar(100) DEFAULT NULL,
  `revenue_kms` int DEFAULT NULL,
  `day_night_code` varchar(2) DEFAULT NULL,
  `oneman_code` varchar(2) DEFAULT NULL,
  `private_hire` varchar(2) DEFAULT NULL,
  `dept_time` time DEFAULT NULL,
  `arr_time` time DEFAULT NULL,
  `Hours` time DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `steering_hours`
--

DROP TABLE IF EXISTS `steering_hours`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `steering_hours` (
  `depot` text,
  `service_number` text,
  `route_name` text,
  `service_type` text,
  `revenue_kms` int DEFAULT NULL,
  `day_night_code` text,
  `oneman_code` text,
  `private_hire` text,
  `dept_time` text,
  `arr_time` text,
  `Steering_Hours` text,
  `No_of_Drivers` int DEFAULT NULL,
  `Active_or_Inactive` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `steering_hrs`
--

DROP TABLE IF EXISTS `steering_hrs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `steering_hrs` (
  `depot` varchar(150) NOT NULL,
  `service_number` varchar(50) NOT NULL,
  `route_name` varchar(200) DEFAULT NULL,
  `service_type` varchar(100) DEFAULT NULL,
  `long_type` varchar(100) DEFAULT NULL,
  `opd_kms` int DEFAULT NULL,
  `rtc_hire` varchar(20) DEFAULT NULL,
  `day_night` varchar(20) DEFAULT NULL,
  `schedules_count` int DEFAULT NULL,
  `no_of_drvs` int DEFAULT NULL,
  `from_time` time DEFAULT NULL,
  `to_time` time DEFAULT NULL,
  `steering_hours` decimal(5,1) DEFAULT NULL,
  `duty_hours` decimal(5,1) DEFAULT NULL,
  KEY `idx_depot` (`depot`),
  KEY `idx_service_number` (`service_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `str`
--

DROP TABLE IF EXISTS `str`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `str` (
  `├»┬╗┬┐depot` text,
  `operations_date` text,
  `employee_id` int DEFAULT NULL,
  `vehicle_number` text,
  `service_type` text,
  `service_number` text,
  `opd_kms` int DEFAULT NULL,
  `daily_earnings` int DEFAULT NULL,
  `day_night` text,
  `schedules_count` int DEFAULT NULL,
  `long_type` text,
  `route_name` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ts_admin`
--

DROP TABLE IF EXISTS `ts_admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ts_admin` (
  `id` int NOT NULL AUTO_INCREMENT,
  `zone` varchar(100) NOT NULL,
  `region` varchar(100) DEFAULT 'UNKNOWN',
  `depot_name` varchar(150) NOT NULL,
  `category` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=98 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `userid` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `depot` varchar(255) DEFAULT NULL,
  `role` varchar(50) DEFAULT NULL,
  `password_hash` varchar(255) DEFAULT NULL,
  `failed_attempts` int NOT NULL DEFAULT '0',
  `last_failed_at` datetime DEFAULT NULL,
  `locked_until` datetime DEFAULT NULL,
  `session_token` varchar(255) DEFAULT NULL,
  `session_expires_at` datetime DEFAULT NULL,
  `session_fp` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `userid` (`userid`)
) ENGINE=InnoDB AUTO_INCREMENT=130 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `weather_daily`
--

DROP TABLE IF EXISTS `weather_daily`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `weather_daily` (
  `weather_date` date NOT NULL,
  `depot_id` int NOT NULL,
  `temp_max` decimal(5,2) DEFAULT NULL,
  `temp_min` decimal(5,2) DEFAULT NULL,
  `rainfall_mm` decimal(6,2) DEFAULT NULL,
  PRIMARY KEY (`weather_date`,`depot_id`),
  KEY `fk_weather_depot` (`depot_id`),
  KEY `idx_weather_date` (`weather_date`),
  CONSTRAINT `fk_weather_depot` FOREIGN KEY (`depot_id`) REFERENCES `depot_master` (`depot_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-18 16:47:54
